{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>{{ page_title }}</title>

    <!-- Styles -->
    <link href="{% static 'css/app.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/thesplash.css' %}" rel="stylesheet">
    <link href="{% static 'css/skin-red.css' %}" rel="stylesheet">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Favicons -->
    <link href="{% static 'img/favicon.ico' %}" rel="stylesheet">

  </head>
  <body class="sticky-nav transparent-nav">

     <!-- Navigation -->
    <nav class="navbar">
      <div class="container-fluid">
{% comment %}        <div class="logo">
          <a class="logo-default" href="index.html"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
          <a class="logo-transparent" href="index.html"><img src="{% static 'img/logo-alt.png' %}" alt="logo"></a>
        </div>{% endcomment %}

        <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="fa fa-bars"></i></a>

        <ul class="nav-menu">
          <li>
            <a class="{{ page_home }}" href="#">About me</a>
            <ul>
              <li><a href="#greeting">Overview</a></li>
              <li><a href="#aboutme">Interests</a></li>
              <li><a href="#demos">Projects</a></li>
              <li><a href="#contact">Contact me</a></li>
            </ul>
          </li>

{% comment %}
          <li><a class="{{ page_blog }} "href="/blog">Blog</a></li>
{% endcomment %}

        </ul>
      </div>
    </nav>
     <!-- END Navigation -->


    {% block body %}
    


    {% endblock %}


    <footer class="site-footer">
      <div class="container">
        <div class="row">

          <div class="col-md-8 col-sm-6 col-xs-12">
            <ul class="footer-links">
{% comment %}              <li><a href="#">About us</a></li>
              <li><a href="#">Privacy policy</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Contact us</a></li>{% endcomment %}
            </ul>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="footer-socials">
              <li><a class="facebook" href="https://www.facebook.com/jonathan.wasson.37"><i class="fa fa-facebook"></i></a></li>
              <li><a class="vimeo" href="https://careers.stackoverflow.com/users/info/643910"><i class="fa fa-stack-exchange"></i></a></li>
              <li><a class="git" href="https://angel.co/jonathan-wasson"><i class="fa fa-angellist"></i></a></li>
              <li><a class="rss" href="http://stackoverflow.com/users/5777470/jayuuza"><i class="fa fa-stack-overflow"></i></a></li>
              <li><a class="linkedin" href="https://za.linkedin.com/in/jonathan-wasson-85778895"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="git" href="https://github.com/jayuuza"><i class="fa fa-github"></i></a></li>
            </ul>
          </div>

        </div>

        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyrights &copy; 2016 All Rights Reserved under the <a href="http://www.dbad-license.org/">Don't Be a Dick Public License</a>.</p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <p class="back-to-top"><a id="scroll-up" href="#">back to top</a></p>
          </div>
        </div>
        
      </div>
    </footer>

    <script src="{% static 'js/app.min.js' %}"></script>

    <script src="{% static 'js/thesplash.js' %}"></script>
</body>

</html>