
.navbar {

  background-color: #fff;
  position: relative;
  z-index: 999;
  transition: background-color .3s ease-out;

  .container,
  .container-fluid {
    .navbar-toggle {
      margin-right: 0;
    }
  }

  .container {
    border-bottom: 1px solid rgba(255,255,255,.1);
  }

  .navbar-toggle {
    display: none;
    float: right;
    border: 0;
    line-height: 40px;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    color: $color-gray;

    .fa {
      font-size: 21px;
    }
  }

  .logo {
    float: left;

    img {
      height: 100px;
      transition: height .2s linear;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    li:hover > ul {
      top: 100%;
      opacity: 1;
      visibility: visible;

    }
  }

  .nav-menu {
    float: right;

    > li {
      position: relative;
      display: inline-block;
      padding: 0 2px;

      > a {
        //line-height: 100px;
      }

      &:hover > a {
        color: $color-brand;
      }

      &:hover > a.menu-highlighted {
        color: #fff;
      }
    }

    a {
      display: inline-block;
      font-family: $font-family-title;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 0 14px;
      line-height: 100px;
      color: $color-gray-light;
      transition: color .2s linear, line-height .2s linear;

      &:hover {
        color: $color-brand;
        text-decoration: none;
      }

      &.active {
        color: $color-brand;
        //border-top: 2px solid $color-brand;
      }
    }

    a.menu-highlighted {
      line-height: 50px;
      margin: 25px 0;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 2px;
      color: #fff;
      background-color: lighten($color-brand, 3%);
      transition: all .2s linear;

      &:hover {
        color: #fff;
        background-color: $color-brand;
      }
    }

    ul {
      position: absolute;
      top: 120%;
      left: 0;
      z-index: 2;
      //display: none;
      background-color: #fff;
      border-top: 2px solid $color-brand;
      padding: 8px;
      opacity: 0;
      visibility: hidden;
      box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.15);
      transition: opacity .4s ease-in-out, top .2s ease-in-out;

      li {

      }

      li a {
        line-height: 40px;
        white-space: nowrap;
        display: block;
        min-width: 150px;
        font-weight: 600;
        border-bottom: 1px solid #f8f9fa;
      }

      li:last-child a {
        border-bottom: 0;
      }

      a.active {
        border-top: none;
      }
    }

  }

  &.container-fluid .nav-menu > li:last-child ul {
    left: auto;
    right: 0;
  }

}

.offcanvas-show .navbar-toggle {
  color: $color-brand;
}

// Sticky navigation bar
.sticky-nav {

  padding-top: 100px;

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }

  // After moving...
  &.body-scrolled {
    padding-top: 60px;
  }

  &.body-scrolled .navbar {

    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);

    .logo img {
      height: 60px;
    }

    .nav-menu > li > a {
      line-height: 60px;

      &.menu-highlighted {
        line-height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

  }

}

// Transparent
.transparent-nav {

  padding-top: 0;

  .logo-default {
    display: none;
  }

  .logo-transparent {
    display: inline-block;
  }

  .navbar {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    .nav-menu a,
    .navbar-toggle {
      color: rgba(255,255,255,.7);

      &:hover,
      &.active {
        color: #fff;
        //border-top-color: #fff;
      }
    }

    .nav-menu > li:hover > a {
      color: #fff;
      //border-top-color: #fff;
    }

    .nav-menu ul a {
      color: $color-gray-light;

      &:hover,
      &.active {
        color: $color-brand;
      }
    }

    .nav-menu li:hover .menu-highlighted,
    .menu-highlighted:hover,
    .menu-highlighted:focus {
      color: #fff !important;
    }
  }

  &.sticky-nav .navbar {
    position: fixed;
  }



  &.body-scrolled {

    .logo-transparent {
      display: none;
    }

    .logo-default {
      display: inline-block;
    }

    .navbar {
      background-color: #fff;

      .nav-menu a,
      .navbar-toggle {
        color: $color-gray-light;
        
        &:hover,
        &.active {
          color: $color-brand;
          //border-top-color: $color-brand;
        }
      }

      .nav-menu > li:hover > a {
        color: $color-brand;
        //border-top-color: $color-brand;
      }

      .nav-menu a.menu-highlighted {
        color: #fff;
      }
    }
  }
}

// Media queries
@include media-down(tablet) {
  
  // off-canvas for sidenav
  html,
  body {
    overflow-x: hidden;
  }

  body > main {
    position: relative;
    left: 0;
    transition: left .2s ease-out;
  }

  .navbar .nav-menu {
    position: fixed;
    left: -80%;
    top: 0;
    bottom: 0;
    width: 80%;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    padding: 24px 16px;
    box-shadow: 8px 0px 10px 0px rgba(0, 0, 0, 0.05);
    transition: left .2s ease-out;

    a {
      line-height: 50px !important;

      &.active {
        border-top: 0;
      }

      &.menu-highlighted {
        display: block;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    > li {
      display: block;
      border-bottom: 1px solid $color-gray-lightest;

      &:last-child {
        border-bottom: 0;
      }
    }

    ul {
      visibility: visible;
      opacity: 1;
      position: static;
      border-top: 0;

      li a {
        border-bottom: 0;
        line-height: 40px !important;
      }
    }

  }

  // Show offcanvas
  .offcanvas-show {

    > main {
      left: 80%;
    }

    .navbar .nav-menu {
      left: 0;
    }
  }

  // Navbar style
  .navbar {

    .logo img {
      height: 60px;
    }

    .nav-menu > li > a {
      line-height: 60px;
    }

    .nav-menu ul {
      box-shadow: none;
    }

    .navbar-toggle {
      display: inline-block;
    }

  }

  .transparent-nav .navbar {

    .nav-menu a {
      color: $color-gray-light;
      
      &:hover,
      &.active {
        color: $color-brand;
      }
    }

    .nav-menu a.menu-highlighted {
      color: #fff;
    }
  }

}

