{% extends '_shared/base.html' %}
{% load humanize %}
{% load staticfiles %}

{% block body %}
    <header class="site-header color-alt overlay-black overlay-intense size-full" style="background-image: url({% static 'img/new-york-skyline.jpg' %})">
      <div class="container">
        <h1>Hi, I'm <strong>Jonathan Wasson.</strong></h1>
        <h4>Full Stack Developer</h4>
        <br><br>
{% comment %}
        <a class="btn btn-lg btn-round" href="#greeting">More about me <i style="font-size: x-large" class="fa fa-angle-down"></i></a>
{% endcomment %}
      </div>
    </header>

    <main>
      <section id="greeting" class="bg-gray">
        <div class="container">
          <header class="section-header">
            <img class="img-circle" src="{{ gravatar_url }}" alt="image" style="max-width:290px;">
            <h2>Who I am</h2>
            <p>I'm a software developer from South Africa. I'm an avid botanist and gamer with an appetite for travel. My main programming interests involve web development and machine learning.</p>
          </header>


        </div>
      </section>
      <section id="aboutme" class="no-border-bottom bg-gray-lighter">
        <div class="container">
          <header class="section-header">
            <h2>What I do</h2>
            <p></p>
          </header>

          <ul class="features">
              <div class="row">
                <li>
                  <div class="icon"><i class="fa fa-code"></i></div>
                  <h5>Development</h5>
                  <p>
                      I build websites, both in my free-time and as a career. I have experience with <mark>MySQL</mark> and <mark>MongoDB</mark> in the database layer. <mark>Python, Java</mark>
                      and <mark>most .Net languages</mark> in the backend. For deployment I've used <mark>Jenkins</mark> and <mark>Octopus</mark>. And finally <mark>Html, CSS, Javascript, jQuery</mark> and <mark>Sass</mark> in the frontend. I'm also familiar with languages such as Matlab and Mathematica.
                  </p>
                </li>

                <li>
                  <div class="icon"><i class="fa fa-cogs"></i></div>
                  <h5>Machine Learning</h5>
                  <p>
                    Machine learning for me is truly fascinating and is one of my greatest interests. Where I can in my coding, I will always try incorporate some machine learning. AAt the very least I'll research novel solution involving machine learning.
                  </p>
                </li>

                <li>
                  <div class="icon"><i class="ti-ink-pen"></i></div>
                  <h5>Good Design</h5>
                  <p>Everything I make has to look good. If my code is messy or produces something that doesn't look good, then I won't be satisfied. I try incorporate good design principles in everything I do while attempting to follow best practice as best I can.</p>
                </li>
            </div>
            <div class="row">
                <li>
                  <div class="icon"><i class="ti-game"></i></div>
                  <h5>Gaming</h5>
                  <p>When I'm not coding or outside, I'm playing games. I've played more games than I care to admit. They're not limited to your average video games, I regularly play board games like Catan with friends.</p>
                </li>

                <li>
                  <div class="icon"><i class="fa fa-leaf"></i></div>
                  <h5>Horticulture</h5>
                  <p>I love all nature and the outdoors. I started growing and collecting bonsais when I was 12 years old. In the interim, my bonsai collection has grown very large (50 strong currently). To the point where my garden can't hold anymore.</p>
                </li>

                <li>
                  <div class="icon"><i class="fa fa-plane"></i></div>
                  <h5>Travel</h5>
                  <p>I have a literal bucket list of places I'd like to visit. The list is still quite long but hopefully each year I'll be able to cross out a few locations.</p>
                </li>
            </div>
          </ul>

        </div>
      </section>


      <section id="demos" class="no-border-bottom bg-gray">
        <div class="container">
          <header class="section-header">
            <h2>Notable <strong>projects</strong></h2>
            <p></p>
          </header>

          <div class="filter-demo">
            <button class="btn active">All</button>
<!--             <button class="btn" data-group="blog">Blog</button>-->
            <button class="btn" data-group="websites">Websites</button>
            <button class="btn" data-group="compsci">Computer Science</button>
<!--             <button class="btn" data-group="shop">Shop</button> -->
          </div>

          <br><br>

          <ul class="demos filterable-demo">
            <li data-groups="websites">
              <a href="#" target="_blank">
                <span class="img-scroll" style="background-image: url({% static 'img/makro-preview.png' %})"></span>
              </a>
              <h4 class="text-center">Makro</h4>
              <p>Makro is one of South Africa's largest e-commerce websites. The site handles thousands of daily orders and millions in profit every month. I've work on the entirety of the site, from the database layer all the way through to the jQuery and css.</p>
            </li>

            <li data-groups="websites">
              <a href="#" target="_blank">
                <span class="img-scroll" style="background-image: url({% static 'img/metronic.png' %})"></span>
              </a>
              <h4 class="text-center">Makro Connect</h4>
              <p>
                  Since Makro needs to handle such a large number of orders daily, they make us of a very large call centre. Makro Connect is an administrative website I've made to provide tools to these call centre staff which allows them to view orders, customers, payments etc.
              </p>
            </li>

            <li data-groups="compsci">
              <a href="#" target="_blank">
                <span class="img-scroll" style="background-image: url({% static 'img/content.png' %})"></span>
              </a>
              <h4 class="text-center">Content Adaptation</h4>
              <p>
                As my Computer Science honours project, I researched ways to provide dynamic content to users based off data gathered on them. For my paper I discussed a method to infer the type of user in a game of Tetris. This was done by observing their actions and modelling the user using a Markov Decision Process.
              </p>
            </li>
          </ul>


        </div>
      </section>

{% comment %}      <section class="section-sm no-border-bottom">
        <div class="container">

          <div class="row">
            <div class="counter col-md-3 col-sm-6">
              <i class="ti-user"></i>
              <p><span data-from="0" data-to="2350">0</span>+</p>
              <h6>Satisfied users</h6>
            </div>

            <div class="counter col-md-3 col-sm-6">
              <i class="ti-time"></i>
              <p><span data-from="0" data-to="1200" data-speed="2200">0</span>+</p>
              <h6>Hours of coding</h6>
            </div>

            <div class="counter col-md-3 col-sm-6">
              <i class="ti-panel"></i>
              <p><span data-from="0" data-to="30" data-speed="2500">0</span>+</p>
              <h6>Components</h6>
            </div>

            <div class="counter col-md-3 col-sm-6">
              <i class="fa fa-code"></i>
              <p><span data-from="0" data-to="10000" data-speed="3000">0</span>+</p>
              <h6>Line of code</h6>
            </div>
          </div>

        </div>
      </section>{% endcomment %}
    </main>
{% endblock %}